:root {
  --light-bg-color: #eeeeee;
  --light-text-color: #000000;
  --dark-bg-color: #18191a;
  --secondary-dark-bg-color: #3a3b3c;
  --dark-text-color: #eeeeee;
  --main-color: #0d6efd;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow: hidden;
}

body.light-theme,
div.light-theme {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

body.dark-theme {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

div.dark-theme {
  background-color: var(--secondary-dark-bg-color);
  color: var(--dark-text-color);
}

a:link.light-theme,
a:visited.light-theme {
  color: var(--light-text-color);
}

a:link.dark-theme,
a:visited.dark-theme {
  color: var(--dark-text-color);
}

code {
  background-color: #e1e8eb;
  color: #000000;
  border-radius: 0.2rem;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.main {
  padding: 1% 3%;
}

.title {
  margin: 4rem 0 2rem 0;
}

.result-container {
  margin-top: 2rem;
  width: 100%;
  height: 23rem;
}

.form-control__dark-theme {
  background-color: var(--secondary-dark-bg-color);
  border: 1px solid var(--secondary-dark-bg-color);
}

.type-selection {
  width: 6rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.5rem;
  appearance: none;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 16px 12px;
}

.type-selection__dark-theme {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  border: 1px solid var(--secondary-dark-bg-color);
}

.type-selection:focus {
  outline: 0;
  border: 1px solid var(--main-color);
}

.footer {
  margin: 1.5rem 0;
}

.req-option {
  cursor: pointer;
  margin: 0 0.7rem;
  font-weight: bold;
}

.active-option {
  border-bottom: 0.2rem solid var(--main-color);
}

.theme-switch__container {
  position: absolute;
  top: 5%;
  right: 3%;
}

.icon-theme {
  cursor: pointer;
}

.modal-main {
  width: 75%;
  height: 75%;
  text-align: left;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1060;
  border-radius: 0.4rem;
  overflow-y: auto;
}

.modal-top {
  display: flex;
  justify-content: space-between;
}

.modal-brand {
  margin-bottom: 1.5rem;
}

.close-icon {
  font-size: 1.7rem;
  user-select: none;
  cursor: pointer;
}

.new-btn__container {
  margin: 1rem 0;
}
